<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jtemp.bingossorder.activity">

    <application
        android:name="jtemp.bingossorder.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name=".AdminActivity" />
        <activity android:name=".ManageTabActivity" android:windowSoftInputMode="adjustNothing"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".AddFoodsActivity" android:windowSoftInputMode="adjustNothing"
            android:theme="@style/DialogStyle"
            ></activity>
        <activity android:name=".AddDurationActivity" android:windowSoftInputMode="adjustNothing" android:theme="@style/DialogStyle"></activity>
        <activity android:name=".AddFoodNameActivity"
            android:theme="@style/DialogStyle"
            />
    </application>

</manifest>